.pokedex-screen-container {
    background: #b0b0b0;
    border-radius: 10px 10px 0 0;
    border: 1px solid black;
    margin: 20px 0;
    height: 50%;
    padding: .8rem;
  }
  .pokedex-screen {
    background: white;
    border: 2px solid black;
    border-radius: 10px;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .pokemon-info{
    padding: 0.8rem;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 40% calc(60% - 0.8rem);
    grid-template-rows: 1px 1fr;
    column-gap: 0.8rem;
    row-gap: 0.7rem;
    grid-template-areas:
      "title title"
      "types  types"
      "img   stats";
  }
  .pokemon-types{
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
    grid-area: types;
  }
  .pokemon-type{
    display: flex;
    justify-content: center;
    align-content: center;
    text-transform: capitalize;
    height: 100%;
    width: 30%;
    background-color: aqua;
    border-radius: 50%;
  }
  .pokemon-name{
    text-align: center;
    text-transform: capitalize;
    grid-area: title;
  }
  .pokemon-img{
    width: 100%;
    transform: scale(1.2);
    align-self: center;
    grid-area: img;
  }
  .pokemon-stats{
    grid-area: stats;
  }
  .pokemon-stat{
    font-size: 0.9rem;
  }
  .stat-name{
    text-transform: capitalize;
  }
  .pokedex-no-screen{
    width: 100%;
    height: 100%;
  }